body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(71, 71, 71);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#canvas {
    background: white;
    border-radius: 5px;
}

#source {
    display: none;
}